Older version
# (Oxford Handbooks in Business & Management) Asli M. Colpan, Takashi Hikino, James R. Lincoln - The Oxford Handbook of Business Groups-Oxford University Press (2010).pdf
# Resource
# Resource/Paper/To Read/Business Groups/(Oxford Handbooks in Business & Management) Asli M. Colpan, Takashi Hikino, James R. Lincoln - The Oxford Handbook of Business Groups-Oxford University Press (2010).pdf
# Resource/Paper/To Read/Trade/JFE-2021-Gregory W.Eaton Paul J Irvine Tingting Liuc-Measuring institutional trading costs and the implications for finance research The case of tick size reductions.pdf
